.box {
  padding-top: 235px;
  background-color: rgba(31, 42, 99, 1);
}

.container {
  justify-content: space-between;
display: flex;
  width: 1200px;
  margin: 0px auto;
}

.taitl {
  color: rgba(255, 255, 255, 1);
   font-weight: 600;
   font-size: 70px;
  width: 453.46px;
  height: 220.27px;
}

.title {
  width: 453.46px;
  height: 220.27px;
  padding-top: 80px;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
}

.button {
  padding: 20px 60px;
  font-size: 30px;
  border-radius: 11px;
  background: rgba(255, 193, 7, 1);
}
